//Main Colors
$primary: #4B8F74;
$primary-strong: #2E6951;
$secondary: #FFA75B;
$secondary-strong: #C24D00;

//Complementary colors
$price: #F93F3F;
$red-light: #F9A0A0;
$background-color: #FCFFF1;

//Grayscale
$gray-strong: #404040;
$gray-medium: #878787;
$gray-light: #D8D8D8;
$white: #FFFFFF;
